@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Caveat);
@import url(https://fonts.googleapis.com/css?family=Balsamiq+Sans);

  .show-more:hover {
    background-color: #000;
    color: #fff;
  }

.img-circle {
    border-radius: 50%;
    width: 200px;
    height: 200px;

  }

body{
    background-color: #d8d3e6;
    padding-right: 5%;
    padding-left: 5%;

}

h1 {
    font-family: Pacifico;
    font-size: calc(25px + (40 + 40 * 0.7) *(100vw - 320px) / 2560);
    color: #6d6385;
}

.first-screen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
h2 {
    color: #2f2742;
    font-family: Caveat;
    padding-right: 10%;
    padding-left: 10%;
}
  
p {
    color: #2b2b2b;
    font-family: 'Balsamiq Sans', cursive;
}

.show-more {
    border-radius: 25px;
    border: 2px solid #2f2742;
    padding: 15px 20px;
    background-color: #d8d3e6 ;
    color: #2b2b2b;
    transition: background-color 0.5s ease;
    font-family: 'Balsamiq Sans', cursive;
  }
  .show-more:hover {
    background-color:#2b2b2b ;
    color: #d8d3e6;
    font-family: 'Balsamiq Sans', cursive;
    cursor: pointer;
  }

figure{
  width: 336px;
  height: 403px;
  background-color: #fff;
  position: relative;
  
  padding: 19px 19px 85px 19px;
  transform: rotate(-8deg);
}

figure img {
  width: 100%;
  padding-bottom: 20px;
  
}
figcaption{
  font-family: Caveat;
  font-size: 35px;
  text-align: center;
  color: #2b2b2b;
  text-align: center;

}

figure::before, 
figure::after {
content: "";
position: absolute;
height: 50px;
width: 180px;
background-color: rgba(102,102,102,0.6);
transform: rotate(-40deg);
}
figure::before{
  top:3px;
  left: -60px;
}

figure::after{
 bottom:3px;
 right: -60px; 
}

/*самым сложным для меня было расположение текста и фото на одном уровне, каким же простым в итоге оказалось решение! */
.parent {
  display: flex;
  justify-content: space-between;
  padding-bottom: 90px;
}

.info {
  width: 50%;
}
/* эти селекторы определенно не лучшая практика, они нестабильные, но очень хотелось сделать все быстро :)  */
#content > div:nth-child(2) > figure{
  transform: rotate(0);
}

#content > div:nth-child(3) > figure {
  transform: rotate(10deg);
}


@media (max-width: 1024px) 

/* Убрала наклон у карточек */
{
  #content > div:nth-child(2) > figure{
  transform: rotate(0deg);
  }
  #content > div:nth-child(3) > figure{
  transform: rotate(0deg);
}
.parent {
  display: flex;
  flex-direction: column; /* Меняем направление на вертикальное для мобильных устройств */
  padding-bottom: 90px;
}
/* не стала перегружать адаптив и скрыла "скотч" */
figure::before,
  figure::after {
    visibility: hidden; 
  }

.info {
  width: 100%; 
  padding-bottom: 30px;
}
    figure{
  transform: rotate(0deg);
  width: 70%; /* Ширина занимает 70% на мобильных устройствах */
  height: inherit;
  margin-top: 20px; 
}
figcaption{
  font-size: 25px;
}

img {
  max-width: 100%;
}
  }

@media (min-width: 1990px) {
figure{
  width: 672px;
  height: 806px;
}
figcaption{
  font-size: 60px;
}
p {
  font-size: 25px;
}
h2 {
  font-size: 45px;
}
.show-more{
  font-size: 20px;
}

}  
